# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

tests/
.idea/
swagger/
/src/ExampleAPI_Thrift/routers/commentsRouter_controllers.go
/src/ExampleAPI_Thrift/routers-commentsRouter____home_truong98_go_src_ExampleAPI_Bigset_Thrift_src_ExampleAPI_Thrift_controllers.go
/src/ExampleAPI_Thrift/.idea/
/src/server/.idea/
